.cocktail{
  display: flex;
  justify-content: space-between;
}

.cocktail-image{
  grid-template-columns: 1fr;
  height: 100vh;
  width: 800px;
  min-width: 800px;
  position: sticky;
  top: 0;
  background-size: cover;
  background-position: center;
}

/* .cocktail {
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
} */

.cocktail-details{
  transition: all 0.5s ease;
  opacity: 0.8;
  grid-template-columns: 2fr;
  padding: 8px;
  margin: 6px;
}

.cocktail-details h2{
  transition: opacity 3s ease-in-out;
  color: var(--rajah);
}

.ingredients{
  margin: 0px 8px;
  padding: 0px 8px;
  border-left: solid 2px var(--rajah);
}

.ingredients-details {
  display: flex;
  align-items: center;
}

.ingredients-quantity{
  transition: opacity 3s;
  opacity: 0;
  font-weight: 200;
  padding: 6px;
  margin: 0;
}

.cocktail-instructions-details{
  font-weight: 200;
  text-indent: 15px;
  letter-spacing: 1px;
}