.container{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cocktail-image{
  grid-template-columns: 1fr 1fr;
  height: 30vh;
  min-width: 80%;
  top: 0;
  background-size: cover;
  background-position: center;
}

.cocktail-details{
  grid-template-columns: 1fr;
  margin: 12px;
}

.cocktail-details-title{
  padding: 0;
  margin: -28px 6px 0px -18px;
}

.cocktail-details-text {
  display: flex;
}

.cocktail-details h2{
  transition: opacity 3s ease-in-out;
  color: var(--rajah);
}

.ingredients-details{
  font-size: 0.7em;
  display: flex;
  justify-content:right;
}

.ingredients-quantity{
  transition: opacity 2s ease-in-out;
  color: var(--rajah);
  font-size: 0.5em;
  top: 1px;
  margin: 20px 6px;
}

.instructions {
  border-left: solid 1px var(--rajah);
  padding-left: 6px;
}

.ingredients {
  padding-right: 6px;
}

@media (min-width: 1200px) {
  .cocktail-image{
    /* grid-template-columns: 1fr; */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 50%;
    min-width: 800px;
    position: sticky;
  }

  .container {
    flex-direction: row;
    /* grid-template-columns: 2fr;
    width: 50%;
    position: sticky;
    left: 830px;
    top: 0;
    height: 100%; */
  }
  .cocktail-details{
    transition: all 0.5s ease;
    opacity: 0.8;
    padding: 8px;
    margin: 6px;
    position: sticky;
    left: 830px;
    top: 0;
    /* margin-left: 860px; */
  }

  .ingredients{
    margin: 0px 8px;
    padding: 0px 8px;
    border-left: solid 2px var(--rajah);
  }

  .ingredients-details {
    display: flex;
    align-items: center;
  }

  .ingredients-quantity{
    transition: opacity 3s;
    padding: 6px;
    margin: 0;
  }

  .cocktail-instructions-details{
    font-weight: 200;
    text-indent: 15px;
    letter-spacing: 1px;
  }
}