.cards {
  margin: 16px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1600px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-cocktail-details {
  background-size: cover;
  background-position: center;
  height: 250px;
  width: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  color: var(--seashell);
}

.card-cocktail-details:hover {
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.2);
  transform:scale(1.01);
  opacity: 0.7;
}