.nav {
  margin: 0;
  padding: 0;
  margin-right: 16px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.fa-cocktail {
  border: solid 2px var(--rajah);
  padding: 6px;
  border-radius: 50px;
  transform: scale(-1, 1);
}

.logo {
  padding: 6px;
  margin: 8px;
  color: var(--rajah);
  font-size: 16px;
}

@media (min-width: 1200px) {
.logo, .nav {
  font-size: 1.5em;
  margin-right: 8px;
}
.nav-link{
  margin: 6px;
}

}

.nav-links {
  white-space: nowrap;
  padding: 0;
  width: 60%;
  font-weight: 100;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-link {
  padding: 2px;
  margin: 2px;
}

.nav-link:hover{
  color: var(--rajah);
}

.active {
  text-decoration: underline;
  font-weight: 200;
}